<div class="event-container">
  <div class="event">
    <form action="/event{{id}}/edit" method="POST">

    <div class="input-container">
      <label for="eventTitle">Title</label>
      <input type="text" value={{event.name}} id="eventTitle" name="eventTitle">
    </div>

     <div class="input-container">
      <label for="location">Location</label>
        <select id="locationId" name="locationId">
          {{#each locations}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

    <div class="input-container">
      <label for="eventDate">Title</label>
      <input type="text" value={{event.date}} id="eventDate" name="eventDate">
    </div>

    <div class="input-container">
        <label for="eventDescription">Event Title</label>
        <textarea rows="3" type="text" value={{event.description}} id="eventDescription" name="eventDescription">
    </div>  
    </form>
  </div>
</div>
